.nav-link {
  color: #6c5ce7;
  font-weight: bold;
}
.images {
  background-color: #dfe6e9;
  box-shadow: 0 0 3px 1px#dfe6e9;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.form-control:hover {
  border: 1px solid #6c5ce7;
}
/* for the spinner  */
/* Spinner Container */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spinner */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

/* Animation Keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tt {
  transition: all ease-in-out 0.3s;
}
.tt:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}
.tt:hover {
  transform: scale(1.1);
}
@media (max-width: 320px) {
  .d-flex.flex-column.flex-sm-row {
    flex-direction: column;
  }

  .d-flex.flex-column.flex-sm-row > * {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .d-flex.flex-column.justify-content-between {
    flex-direction: column;
  }

  .d-flex.flex-column.justify-content-between > * {
    width: 100%;
  }
}
